@media screen and (max-width: 700px) {
   header {
    text-align: center;
   }

   main {
    flex-direction: column;
   }

   img {
    display: block;
    width: 350px;
    margin: 0 auto;
   }

   aside {
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    
   }
}