@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

body {
    max-width: 1200px;
    color: white;
    background: #032D42;
    font-family: 'Sarala', sans-serif;

}

header {
    text-align: end;

}

header h3 {
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.lado-1 {
    width: 100%;
}

aside h1 {
    padding: 5px;
    font-size: 100px;
    line-height: 2px;
}

aside h3 {
    font-size: 50px;
}



span {
    color: #62D84E;
}

